uwr/fish-measurements-estimation/src/__pycache__
uwr/fish-measurements-estimation/src/Untitled.ipynb
uwr/fish-measurements-estimation/src/.ipynb_checkpoints
uwr/fish-measurements-estimation/notebooks/.ipynb_checkpoints
uwr/fish-measurements-estimation/data/external/train
uwr/fish-measurements-estimation/data/external/val
uwr/fish-measurements-estimation/notebooks/underwater_effect.jpg
uwr/fish-measurements-estimation/data/external/all-fish-images
uwr/fish-measurements-estimation/data/external/pagrus-images-with-water-effect
uwr/fish-measurements-estimation/results
uwr/fish-measurements-estimation/notebooks/Test.ipynb
auv/sample-insertion/src/detection/__pycache__
auv/sample-insertion/src/detection/LineFollowerAndLaneKeeper.py